@font-face {
    font-family:'yekan';
    src: url("../font/BYekan.ttf");
    src: url("../font/BYekan.woff");
}
@media only screen and (max-width: 460px) {
    .navitem ul {
        position: absolute;
        background: #fcb563;
        max-width: 170px;
        text-align: right;
        font-size: 16px;
    }
    .casecademenu{
        top: 12vh;
    }
    .casecademenu>li>ul{
        position: relative;
    }
    navbtn-menu{
        margin-top: 1vh!important;
    }

    .imginfo{
        position: relative;
        right: 1.5vw;
        top: -6vh;
    }
    .logo-m{
        position: relative;
        top: 0vh;
        right: 42vw;
        width: 58vw;
    }
    .cart-m{
        position: absolute;
        top: 2vh;
        right: -35vw;
    }
    .bread-m{
        float: none!important;
    }
    .txtinfo{
        font-size: 20px;
        padding: 18vh 3vw;
        background: white;
        margin: 0px 6vw;
        position: relative;
        top: 48vh;
    }
}
@media only screen and (min-width: 460.2px) and (max-width: 770.2px){
    .navitem ul {
        position: absolute;
        background: #fcb563;
        max-width: 170px;
        text-align: center;
    }
    .casecademenu{
        top: 12vh;
    }
    .casecademenu>li>ul{
        position: relative;
    }
    .btn-menu{
        margin-top: 1vh!important;
    }
    .imginfo{
        position: relative;
        right: 4.5vw;
        top: -3vh;
    }
    .logo-m{
        position: relative;
        top: 0vh;
        right: 32vw;
    }
    .cart-m{
        position: absolute;
        top: 3vh;
        right: -40vw;
    }
    .bread-m{
        float: none!important;
    }
    .txtinfo{
        font-size: 20px;
        padding: 18vh 3vw;
        background: white;
        margin: 0px 6vw;
        position: relative;
        top: 37vh;
    }
}
@media only screen and (min-width: 800.2px) and (max-width: 1024px){
    .casecademenu>li>ul{
        position: absolute;
    }
    .imginfo{
        position: relative;
        right: 2.5vw;
        top: -3vh;
    }
    .txtinfo{
        font-size: 20px;
        padding: 18vh 3vw;
        background: white;
        margin: 0px 1vw;
        position: relative;
        top: 40vh;
    }
}
@media only screen and (min-width: 1024.2px) and (max-width: 1250px){
    .casecademenu>li>ul{
        position: absolute;
    }
    .imginfo{
        position: relative;
        right: 6vw;
        top: -3vh;
    }
    .txtinfo{
        font-size: 20px;
        padding: 18vh 3vw;
        background: white;
        margin: 0px 1vw;
        position: relative;
        top: 40vh;
    }
}
@media only screen and (min-width: 1251px) {
    .casecademenu>li>ul{
        position: absolute;
    }
    .imginfo{
        position: relative;
        right: 4.3vw;
        top: -3vh;
    }
    .txtinfo{
        font-size: 20px;
        padding: 18vh 3vw;
        background: white;
        margin: 0px 2vw;
        position: relative;
        top: 36vh;
    }
}

.casecademenu>li>a:not([href])::after{
    content:'\21D3';
    display: inline-block;
    margin-left: 6px;
    color: #5e2912;
    padding-right: 1vw;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: yekan;
    direction: rtl;
    box-sizing: border-box;
}
.top-header a{
    color: black;
}
.top-header a:hover,.top-header i:hover{
    color: #5e2912;
}
.bglink{
    background: #fed385;
    font-size: 16px;
}
.header{
    position: sticky;
    z-index: 111;
    background: #fcb563;
    top: 0;
}
.buy{
    color: #5e2912;
}
input[type=text] {
    background: none;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.casecademenu ul{
    display: none;
    background: #fcb563;
}
.casecademenu>li{
    display: inline-block;
}
/*.casecademenu>li li{*/
/*    position: relative;*/
/*}*/


.casecademenu ul ul{
    position: absolute;
    left: 100%;
    top:0px
}
.casecademenu a{
    min-width: 180px;
}


.btn-menu{
    background: #5e2912;
    padding: 1vh 2vw;
    border-radius: 15px;
    color: white;
}
.btn-menu:hover{
    color:black;
}

.navbtn{
    color: white;
    background: #5e2912;
    padding: 5px 10px;
    float: right;
    right: 2vw;
    top: 3vh;
    position: absolute;
    z-index: 1;
}
.navbtn i{
    font-size: 23px;
}
.navitem ul{
    list-style: none;
    padding-top: 4vh
}
.navitem li{
    padding-bottom: 10px;
}
.navitem a{
    text-decoration: none;
    color: #5e2912;
    padding:1vh 1vw 1vh 1vw;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.navitem a:hover,.active{
    color: #ffffff;
    border-top: 1px solid #ffffff;
}
.txt{
    position: absolute;
    top: 35vh;
    left: 42vw;
    z-index: 333;
    font-size: 37px;
}
.bgabout{
    background: #F7F7F7;

}
.bread{
    background: url("../image/bread.jpg")no-repeat center center;
    background-size: cover;
    height: 80vh;
    position: relative;
    float: left;
}
.txtbread{
    padding-top: 55vh;
    font-size: 36px;
}
.mybtn2{
    background: #f46c22;
    color: white;
}
.mybtn2:hover{
    background: #fcb563;
    color: black;
}

.box{
    margin: 11vh 2vw 0px;
}
.txtbread1{
    font-size: 20px;
}
.txtbread2{
    color: #f46c22;
    font-size: 20px;
    opacity: 1;
}
.cake{
    background: url("../image/cake.jpg")no-repeat right center;
    background-size: cover;
    height: 80vh;
    position: relative;
    float: left;
    z-index: 10;
}
.food{
    background: url("../image/food.jpg")no-repeat center center;
    background-size: cover;
    height: 80vh;
    position: relative;
    float: left;
}
.special{
    background: url("../image/special.jpg") center center no-repeat;
    background-size: cover;
    height: 80vh;
}
.bgoverspecial{
    background: rgba(0,0,0,0.40);
    height: 80vh;
}
.txtbread3{
    font-size: 20px;
    padding: 0px 2vw;
}
.txtbread4{
    font-size: 18px;
    padding: 0px 2vw;
    padding-bottom: 14px;
}
.bginfo{
    /*background: url("../image/info.png")no-repeat center center;*/
    padding: 12vh 0px;
    position: relative;
    top: -44vh;
}


.bgcontact{
    background: #6e3e29;
}
.txtcontact{
    font-size: 18px;
    color: #fcbc72;
    padding: 4vh 16vw 4vh 0px;
}
.txtemail{
    background:  #fcbc72;
    font-size: 18px;
    color: #6e3e29;
    text-align: left;
    padding: 2vh 2vw;
    position: relative;
    left: -19vw;
}
/*::placeholder{*/
/*    background:  #fcbc72;*/
/*    color: #6e3e29;*/
/*}*/
.mybtn3{
    background:#6e3e29;
    color: #fcbc72;
    padding: 2vh 3vw;
}
.txtcontact2{
    color: #fcbc72;
    font-size: 18px;
    margin-top: 9vh;
}
.txtcontactlink{
    color: #fcbc72;
    font-size: 18px;
    margin-top: 9vh;
}
.txtcontactlink:hover{
    color: white;
}
.txtcontact3{
    color: #fcbc72;
    font-size: 18px;
    padding-top: 9vh;
    padding-right: 7vw;
}
.linedivid{
    position: absolute;
    border-right: 3px solid #fcbc72;
    height: 61vh;
    margin-top: 10vh;
}
.ulcontact li{
    padding: 2vh 0px;
}
.footer{
    background: #e02401;
}
.divsrc{
    position: absolute;
    z-index: 222;
    background: rgba(0,0,0,0.57);
    padding-bottom: 4vh;
    direction: ltr;
}
.closebtnsearch{
    position: absolute;
    top: 13vh;
    z-index: 224;
    left: 88vw;
    width: 3%;
}

.bigpic{
    background: url("../image/bigimage/bggallery.jpg")no-repeat center center;
    background-size: cover;
}
.bggallery{
    background: url("../image/bigimage/bggallery.jpg")no-repeat center center;
    background-size: cover;
    height: 72vh;
}
.left-gallery{
    position: absolute;
    top: 53vh;
    left: 3vw;
    width: 40px;
    background: none;
}
.right-gallery{
    position: absolute;
    top: 53vh;
    left: 87vw;
    width: 40px;
    background: none;
}
.zoom-in{
    position: absolute;
    top: 28vh;
    left: 41vw;
    width: 40px;
}
.zoom-out{
    position: absolute;
    top: 28vh;
    left: 49vw;
    width: 40px;
}
.closebtngallery{
    position: absolute;
    top: 28vh;
    left: 69vw;
    width: 40px;
}

.user{
    cursor: pointer;
}
.tost{
    position: absolute;
    left: auto;
    top: 44vh;
    z-index: 12;
}
.homebtn{
    position: absolute;
    z-index: 12;
    top: 4vh;
    left: 10vw;
}
